.banner{
    margin: 2rem 0;
}

.banner h1{
    font-size: 4.8rem;
    padding: 2rem 0;
}

.banner h1 span{
    color: red;
}

.banner p{
    font-size: 1.8rem;
    font-weight: 400;
    padding: 2rem 0;
}