.daily-parameters{
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    border-radius: .5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    color: #20253A;
    font-size: 1.5rem;    
    margin-bottom: 3rem;
    padding: 3rem;
    height: 35%;
    min-height: 32rem; 
    width: 100%;   
}

.daily-parameters_chart{
    margin: 3rem auto;
    height: 66%;
    width: 100%;
}

.daily-parameters_title{
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.daily-parameters_title ul{
    display: flex;
    color: #74798C;
    font-size: 1.4rem;
    list-style: none;
}

.daily-parameters_title li{
    display: flex;
    align-items: center;
}

.daily-parameters_title li::before{
    content: "•"; 
    color: red;
    font-size: 3rem;
    padding: 1rem;
}

.daily-parameters_title li:first-child::before{
    color: #282D30;
}

.daily-parameters_tooltip{
    background-color: red;
    color: white;
    font-size: .7rem;
    font-weight: 500;
    padding: 1rem;
}