.dashboard{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 3rem auto 8rem auto;
    /* align-items: center; */
    height: 100%;
}

.dashboard_main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dashboard_charts{
    display: flex;
    flex-direction: column;
    width: 75%;
    /* flex-basis: 80%; */
}

.dashboard_charts-trio{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 2rem;
    height: 50%;
}

.dashboard_cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-basis: 20%;
}