.dashboard{
    display: flex;
    flex-direction: column;
    margin: 3rem auto 8rem auto;
    height: 100%;
    width: 85%;
}

.dashboard_main{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    width: 100%;
}

.dashboard_charts{
    display: flex;
    flex-direction: column;
    width: 75%;    
}

.dashboard_charts-trio{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

.dashboard_cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-basis: 20%;
}